openapi: 3.0.3

info:
  title: dropicture API
  version: "1.0"
  description: |
    API REST de la plateforme dropicture (photos et albums, publication, réseau social léger).

    ### Principe fondateur
    Tout média déposé est **privé par défaut**. Seule une action explicite de son propriétaire le rend
    public, et cette action reste révocable à tout instant. Techniquement, `media.publishedAt` vaut
    `NULL` à l'écriture ; la publication ne fait que dater ce champ.

    ### Authentification
    - **Session (cookie `session`)** — cookie opaque `httpOnly` adossé à Redis, avec expiration
      glissante (30 min), expiration absolue (8 h) et fenêtre d'accès de 5 min. La rotation se fait
      par nonce, protégée par un verrou, avec une fenêtre de grâce de 30 s. Rejouer un ancien nonce
      hors de cette fenêtre est interprété comme un vol présumé et révoque toutes les sessions du
      compte. Utilisée par toutes les routes protégées.
    - **Clé d'API** — en-tête `x-api-key` (ou paramètre `?appid=`) pour l'accès programmatique.

    ### Conventions
    - Les erreurs renvoient un corps `{ "code": "..." }` (par exemple `INVALID_CREDENTIALS`,
      `ACCOUNT_NOT_FOUND`, `MEDIA_NOT_FOUND`).
    - Le débit est limité par IP et par route (`@nestjs/throttler`, stockage Redis) ; les en-têtes
      `x-ratelimit-limit`, `x-ratelimit-remaining` et `x-ratelimit-reset` accompagnent les réponses.
    - La pagination est **par curseur opaque** : `cursor` en entrée, `nextCursor` en sortie. Le curseur
      encode en base64url le couple `horodatage|identifiant` du dernier élément rendu.
    - Les opérations de masse renvoient un compte rendu par élément : `{ done: [...], failed: [{ id, code }] }`.
    - Le corps JSON est plafonné à 100 Ko ; les téléversements binaires ne passent pas par cette limite.
  contact:
    name: Amir Redjem
    email: a.redjem@outlook.com
  license:
    name: Usage pédagogique — RNCP40573
    url: https://dropicture.com/legal

servers:
  - url: https://app.dropicture.com
    description: Production (derrière Traefik)
  - url: http://localhost:3002
    description: Développement local

tags:
  - name: Authentification
    description: Inscription, connexion, cycle de vie de la session
  - name: Bibliothèque
    description: Médias privés, téléversement, albums, publication
  - name: Profil
    description: Profil du membre, biographie, photo de profil
  - name: Découverte
    description: Fil d'actualité, abonnements
  - name: Paramètres
    description: Compte, sécurité, clé d'API
  - name: API publique
    description: Endpoints ouverts (profils et galeries publics)
  - name: Exploitation
    description: Sonde de santé consommée par Traefik et Docker Swarm

security:
  - session: []

# ============================================================================
paths:

  # ---------------------------------------------------------------- santé
  /health:
    get:
      tags: [Exploitation]
      summary: Sonde de santé
      description: >
        Répond avant tout intergiciel NestJS. Consommée par le healthcheck de conteneur Docker Swarm
        et par le healthcheck de service Traefik. Exclue du journal d'accès.
      security: []
      responses:
        "200":
          description: Le processus répond
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }

  # ------------------------------------------------------- authentification
  /api/auth/me:
    get:
      tags: [Authentification]
      summary: Profil du compte authentifié
      security: [{ session: [] }]
      responses:
        "200":
          description: Identité du titulaire de la session
          content:
            application/json:
              schema:
                type: object
                properties:
                  email: { type: string, format: email }
                  username: { type: string }
                  firstname: { type: string }
                  lastname: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/AccountNotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /api/auth/username/{username}:
    get:
      tags: [Authentification]
      summary: Vérifier la disponibilité d'un nom d'utilisateur
      description: >
        Contrôle le format, la liste des pseudonymes réservés (57 entrées : `admin`, `api`, `cdn`,
        `settings`, `www`, …) puis l'unicité en base.
      security: []
      parameters:
        - name: username
          in: path
          required: true
          schema: { type: string, minLength: 3, maxLength: 30 }
      responses:
        "200":
          description: Verdict de disponibilité
          content:
            application/json:
              schema:
                type: object
                properties:
                  username: { type: string }
                  available: { type: boolean }
                  code:
                    type: string
                    nullable: true
                    enum: [USERNAME_INVALID, USERNAME_RESERVED, USERNAME_ALREADY_USED, null]
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /api/auth/resolve:
    post:
      tags: [Authentification]
      summary: Résoudre la session courante (cookie vers identité)
      description: >
        Consommée par la garde de route du frontend (`proxy.ts`) et par le rendu serveur. Elle
        rafraîchit l'horodatage d'usage de la session sans en faire tourner le nonce.
      security: [{ session: [] }]
      responses:
        "200":
          description: Session valide
          content:
            application/json:
              schema:
                type: object
                properties:
                  sub: { type: string, format: uuid }
                  accessExpiresAt:
                    type: integer
                    description: Horodatage UNIX de fin de la fenêtre d'accès (5 min)
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/auth/signin:
    post:
      tags: [Authentification]
      summary: Connexion (création de session)
      description: >
        Débit limité à 10 requêtes par minute. Si le compte est inconnu, une vérification Argon2id
        est tout de même exécutée sur une empreinte leurre, afin que le temps de réponse ne permette
        pas d'énumérer les comptes existants.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SigninRequest" }
      responses:
        "200":
          description: Session créée
          headers:
            Set-Cookie:
              description: "session=<sid>.<nonce>; HttpOnly; Secure; SameSite=Lax; Path=/"
              schema: { type: string }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  expires_in: { type: integer, example: 300 }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401":
          description: Identifiants invalides
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorCode" }
              example: { code: INVALID_CREDENTIALS }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /api/auth/signup:
    post:
      tags: [Authentification]
      summary: Inscription d'un nouveau compte
      description: >
        Débit limité à 5 requêtes par heure. Le prénom et le nom sont normalisés (espaces compactés,
        casse harmonisée), le pseudonyme mis en minuscules et confronté à la liste des réservés. Une
        clé d'API est générée à la création.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SignupRequest" }
      responses:
        "201":
          description: Compte créé
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
        "400":
          description: Champ invalide ou pseudonyme réservé
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorCode" }
              examples:
                nom: { value: { code: INVALID_NAME } }
                reserve: { value: { code: USERNAME_RESERVED } }
                motDePasse: { value: { code: PASSWORD_MISSING_SPECIAL } }
        "409":
          description: Conflit d'unicité
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorCode" }
              examples:
                email: { value: { code: EMAIL_ALREADY_USED } }
                pseudonyme: { value: { code: USERNAME_ALREADY_USED } }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /api/auth/session:
    post:
      tags: [Authentification]
      summary: Rotation de la session (rafraîchissement)
      description: >
        Fait tourner le nonce du cookie. L'opération est protégée par un verrou Redis afin d'éviter
        deux rotations concurrentes : un appelant qui perd la course attend puis récupère le cookie
        déjà émis pendant la fenêtre de grâce de 30 s. Rejouer un nonce hors de cette fenêtre déclenche
        la révocation globale des sessions du compte.
      security: [{ session: [] }]
      responses:
        "200":
          description: Session renouvelée
          headers:
            Set-Cookie:
              description: Nouveau cookie de session
              schema: { type: string }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  rotated: { type: boolean }
                  expires_in: { type: integer, example: 300 }
        "401":
          description: >
            Session absente, expirée (glissante ou absolue), révoquée, corrompue,
            ou rejeu de jeton détecté
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /api/auth/signout:
    post:
      tags: [Authentification]
      summary: Déconnexion (révocation de la session courante)
      security: [{ session: [] }]
      responses:
        "200":
          description: Session supprimée côté serveur et cookie effacé côté client
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, example: Logged out }

  # ------------------------------------------------------------ bibliothèque
  /api/library/uploads:
    post:
      tags: [Bibliothèque]
      summary: Téléverser un média (photo ou vidéo) en flux
      description: |
        Le corps de la requête est le **flux binaire brut** du fichier ; il n'est jamais chargé
        intégralement en mémoire. Un transformateur compte les octets à la volée et rompt le flux dès
        le dépassement du seuil, l'envoi multipart étant alors abandonné et l'objet partiel supprimé.

        Seuils : 8 Mo pour une image, 100 Mo pour une vidéo. Tranches de 5 Mo, deux en parallèle.
        Le média créé est **privé** (`published: false`).
      security: [{ session: [] }]
      parameters:
        - { name: Content-Type, in: header, required: true, schema: { type: string, example: image/jpeg },
            description: "Type MIME du fichier. Accepté : image/jpeg, image/png, image/webp, image/avif, image/heic, video/mp4, video/quicktime, video/webm" }
        - { name: Content-Length, in: header, required: false, schema: { type: integer },
            description: Permet un refus précoce, avant tout transfert vers le stockage objet }
        - { name: w, in: query, schema: { type: integer, minimum: 1 }, description: Largeur en pixels }
        - { name: h, in: query, schema: { type: integer, minimum: 1 }, description: Hauteur en pixels }
        - { name: d, in: query, schema: { type: integer, minimum: 1 }, description: Durée en millisecondes (vidéo) }
        - { name: takenAt, in: query, schema: { type: string, format: date-time },
            description: Date de prise de vue. Une date future ou invalide est ignorée }
        - { name: album, in: query, schema: { type: string, format: uuid },
            description: Album de destination. Un album inconnu est silencieusement ignoré }
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema: { type: string, format: binary }
      responses:
        "201":
          description: Média enregistré, privé
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LibraryItem" }
        "400":
          description: Requête refusée
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorCode" }
              examples:
                type: { value: { code: UNSUPPORTED_MEDIA_TYPE } }
                taille: { value: { code: FILE_TOO_LARGE } }
                vide: { value: { code: FILE_REQUIRED } }
                envoi: { value: { code: UPLOAD_FAILED } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /api/library/summary:
    get:
      tags: [Bibliothèque]
      summary: Statistiques de la bibliothèque privée
      security: [{ session: [] }]
      responses:
        "200":
          description: Compteurs, volume, répartition mensuelle et limites en vigueur
          content:
            application/json:
              schema:
                type: object
                properties:
                  counts:
                    type: object
                    properties:
                      private: { type: integer }
                      published: { type: integer }
                  bytes: { type: string, description: Volume cumulé des médias privés, en octets }
                  months:
                    type: array
                    items:
                      type: object
                      properties:
                        month: { type: string, example: "2026-07" }
                        total: { type: integer }
                  firstAt: { type: string, format: date-time, nullable: true }
                  limits: { $ref: "#/components/schemas/MediaLimits" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/library/:
    get:
      tags: [Bibliothèque]
      summary: Lister les médias privés (pagination par curseur)
      description: >
        Sans paramètre `album`, seuls les médias **non publiés** sont restitués. Avec un `album`,
        la liste porte sur son contenu, publié ou non. Tri antichronologique sur la date de prise
        de vue, à défaut sur la date de création.
      security: [{ session: [] }]
      parameters:
        - { name: album, in: query, schema: { type: string, format: uuid } }
        - { name: cursor, in: query, schema: { type: string }, description: Curseur opaque renvoyé par l'appel précédent }
        - { name: limit, in: query, schema: { type: integer, default: 60, maximum: 120, minimum: 1 } }
      responses:
        "200":
          description: Page de médias
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: "#/components/schemas/LibraryItem" }
                  nextCursor: { type: string, nullable: true }
        "400":
          description: Curseur illisible
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorCode" }
              example: { code: BAD_CURSOR }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: Album inconnu ou n'appartenant pas au titulaire
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorCode" }
              example: { code: ALBUM_NOT_FOUND }

  /api/library/download:
    post:
      tags: [Bibliothèque]
      summary: URLs de téléchargement d'un lot de médias
      description: Sert le droit à la portabilité des données.
      security: [{ session: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BulkIds" }
      responses:
        "200":
          description: Liens de téléchargement
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string, format: uuid }
                        filename: { type: string, example: "8f1c….jpg" }
                        url: { type: string, format: uri }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: Aucun média correspondant
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorCode" }
              example: { code: MEDIA_NOT_FOUND }

  /api/library/publish:
    patch:
      tags: [Bibliothèque]
      summary: Publier des médias (les rendre publics)
      description: >
        Opération **atomique et idempotente** : la date de publication existante est préservée
        (`COALESCE`), si bien que republier un média ne réécrit pas son historique. Chaque élément
        non traité est restitué avec son code d'échec.
      security: [{ session: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BulkIds" }
      responses:
        "200":
          description: Compte rendu par média
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BulkResult" }
              example:
                done: ["1f3a…", "9c07…"]
                failed: [{ id: "44de…", code: ALREADY_PUBLIC }]
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/library/unpublish:
    patch:
      tags: [Bibliothèque]
      summary: Dépublier des médias (retour au domaine privé)
      description: Les médias de rôle « avatar » sont explicitement exclus de l'opération.
      security: [{ session: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BulkIds" }
      responses:
        "200":
          description: Compte rendu par média
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BulkResult" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/library/media:
    delete:
      tags: [Bibliothèque]
      summary: Supprimer des médias (stockage objet et base)
      description: >
        Supprime les objets S3 par lots de 1 000, retire les lignes en base, puis déclenche une
        invalidation CloudFront. L'échec de l'invalidation est journalisé sans faire échouer
        l'opération.
      security: [{ session: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BulkIds" }
      responses:
        "200":
          description: Compte rendu par média
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BulkResult" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/library/albums:
    get:
      tags: [Bibliothèque]
      summary: Lister les albums (couverture et compteurs)
      description: >
        La couverture est celle définie explicitement ; à défaut, le premier média placé dans l'album.
      security: [{ session: [] }]
      responses:
        "200":
          description: Albums du titulaire, du plus récemment modifié au plus ancien
          content:
            application/json:
              schema:
                type: object
                properties:
                  albums:
                    type: array
                    items: { $ref: "#/components/schemas/Album" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Bibliothèque]
      summary: Créer un album (avec des médias, éventuellement)
      security: [{ session: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AlbumTitle" }
      responses:
        "201":
          description: Album créé
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Album" }
        "400":
          description: Titre déjà pris pour ce compte, ou titre invalide
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorCode" }
              example: { code: ALBUM_TITLE_TAKEN }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/library/albums/{albumId}:
    parameters:
      - { name: albumId, in: path, required: true, schema: { type: string, format: uuid } }
    patch:
      tags: [Bibliothèque]
      summary: Renommer un album
      security: [{ session: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AlbumTitle" }
      responses:
        "200":
          description: Album renommé
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string, format: uuid }
                  title: { type: string }
        "400": { description: "Titre déjà pris (ALBUM_TITLE_TAKEN)" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/AlbumNotFound" }
    delete:
      tags: [Bibliothèque]
      summary: Supprimer un album
      description: Les médias qu'il contenait restent dans la bibliothèque ; seuls les placements disparaissent.
      security: [{ session: [] }]
      responses:
        "200":
          description: Album supprimé
          content:
            application/json:
              schema:
                type: object
                properties: { success: { type: boolean } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/AlbumNotFound" }

  /api/library/albums/{albumId}/media:
    parameters:
      - { name: albumId, in: path, required: true, schema: { type: string, format: uuid } }
    post:
      tags: [Bibliothèque]
      summary: Ajouter des médias à un album
      description: Les médias déjà placés sont ignorés sans erreur ; ils sont comptés dans `skipped`.
      security: [{ session: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BulkIds" }
      responses:
        "200":
          description: Nombre d'ajouts et d'ignorés
          content:
            application/json:
              schema:
                type: object
                properties:
                  added: { type: integer }
                  skipped: { type: integer }
        "400": { description: "Aucun média valide (NO_MEDIA)" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/AlbumNotFound" }
    delete:
      tags: [Bibliothèque]
      summary: Retirer des médias d'un album
      description: Si la couverture de l'album fait partie du retrait, elle est remise à NULL.
      security: [{ session: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BulkIds" }
      responses:
        "200":
          description: Nombre de placements supprimés
          content:
            application/json:
              schema:
                type: object
                properties: { removed: { type: integer } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/AlbumNotFound" }

  /api/library/albums/{albumId}/cover/{mediaId}:
    patch:
      tags: [Bibliothèque]
      summary: Définir la couverture d'un album
      security: [{ session: [] }]
      parameters:
        - { name: albumId, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: mediaId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200":
          description: Couverture définie
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string, format: uuid }
                  coverMediaId: { type: string, format: uuid }
        "400":
          description: Le média n'appartient pas à cet album
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorCode" }
              example: { code: NOT_IN_ALBUM }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/AlbumNotFound" }

  # ------------------------------------------------------------------ profil
  /api/profile/:
    get:
      tags: [Profil]
      summary: Afficher mon profil (compteurs, avatar, URL publique)
      security: [{ session: [] }]
      responses:
        "200":
          description: Profil du titulaire
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OwnProfile" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/AccountNotFound" }
    patch:
      tags: [Profil]
      summary: Modifier ma biographie
      security: [{ session: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bio: { type: string, maxLength: 160, nullable: true }
      responses:
        "200":
          description: Biographie mise à jour (une chaîne vide vaut suppression)
          content:
            application/json:
              schema:
                type: object
                properties: { bio: { type: string, nullable: true } }
        "400": { description: "Biographie trop longue (BIO_TOO_LONG)" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/profile/media:
    get:
      tags: [Profil]
      summary: Lister mes médias publiés (pagination par curseur)
      security: [{ session: [] }]
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 48, maximum: 120, minimum: 1 } }
      responses:
        "200":
          description: Page de médias publiés
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PublishedPage" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/profile/media/unpublish:
    patch:
      tags: [Profil]
      summary: Dépublier des médias depuis le profil
      security: [{ session: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BulkIds" }
      responses:
        "200":
          description: Compte rendu par média
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BulkResult" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/profile/avatar:
    post:
      tags: [Profil]
      summary: Téléverser une photo de profil
      description: >
        Remplacement atomique : le nouvel avatar est enregistré, la référence du compte mise à jour,
        puis les anciens avatars sont supprimés du stockage et de la base. Formats acceptés :
        JPEG, PNG, WEBP. Seuil : 8 Mo. Un avatar est public par construction.
      security: [{ session: [] }]
      parameters:
        - { name: Content-Type, in: header, required: true, schema: { type: string, example: image/png } }
        - { name: Content-Length, in: header, required: false, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema: { type: string, format: binary }
      responses:
        "201":
          description: Avatar remplacé
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MediaView" }
        "400": { description: "Format refusé (UNSUPPORTED_MEDIA_TYPE) ou fichier trop lourd (FILE_TOO_LARGE)" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    delete:
      tags: [Profil]
      summary: Supprimer la photo de profil
      security: [{ session: [] }]
      responses:
        "200":
          description: Avatar supprimé du stockage et de la base
          content:
            application/json:
              schema:
                type: object
                properties: { avatar: { nullable: true } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/AccountNotFound" }

  # -------------------------------------------------------------- découverte
  /api/discover/feed:
    get:
      tags: [Découverte]
      summary: Fil d'actualité (tout public ou abonnements)
      security: [{ session: [] }]
      parameters:
        - { name: scope, in: query, schema: { type: string, enum: [all, following], default: all },
            description: "`following` restreint le fil aux comptes suivis, le titulaire inclus" }
        - { name: cursor, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 40, maximum: 80, minimum: 1 } }
      responses:
        "200":
          description: Page du fil, enrichie de l'auteur et de l'état d'abonnement
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      allOf:
                        - $ref: "#/components/schemas/MediaView"
                        - type: object
                          properties:
                            publishedAt: { type: string, format: date-time, nullable: true }
                            mine: { type: boolean }
                            author:
                              type: object
                              nullable: true
                              properties:
                                username: { type: string }
                                name: { type: string }
                                avatar: { $ref: "#/components/schemas/MediaView" }
                                following: { type: boolean }
                                self: { type: boolean }
                  nextCursor: { type: string, nullable: true }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/discover/me:
    get:
      tags: [Découverte]
      summary: Mes statistiques sociales
      security: [{ session: [] }]
      responses:
        "200":
          description: Compteurs personnels et volumétrie de la communauté
          content:
            application/json:
              schema:
                type: object
                properties:
                  publishedMedia: { type: integer }
                  following: { type: integer }
                  followers: { type: integer }
                  community:
                    type: object
                    properties:
                      authors: { type: integer }
                      media: { type: integer }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/discover/follows/{username}:
    parameters:
      - { name: username, in: path, required: true, schema: { type: string } }
    post:
      tags: [Découverte]
      summary: Suivre un utilisateur
      description: Opération idempotente ; s'abonner à soi-même est refusé.
      security: [{ session: [] }]
      responses:
        "200":
          description: Abonnement enregistré
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FollowState" }
        "400":
          description: Auto-abonnement
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorCode" }
              example: { code: CANNOT_FOLLOW_SELF }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/AccountNotFound" }
    delete:
      tags: [Découverte]
      summary: Ne plus suivre un utilisateur
      security: [{ session: [] }]
      responses:
        "200":
          description: Abonnement retiré
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FollowState" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/AccountNotFound" }

  # --------------------------------------------------------------- paramètres
  /api/settings/:
    get:
      tags: [Paramètres]
      summary: Afficher les paramètres et l'usage du stockage
      security: [{ session: [] }]
      responses:
        "200":
          description: Paramètres du compte
          content:
            application/json:
              schema:
                type: object
                properties:
                  username: { type: string }
                  firstname: { type: string }
                  lastname: { type: string }
                  email: { type: string, format: email }
                  publicUrl: { type: string, format: uri }
                  createdAt: { type: string, format: date-time }
                  storage:
                    type: object
                    properties:
                      bytes: { type: string }
                      images: { type: integer }
                      videos: { type: integer }
                      published: { type: integer }
                      private: { type: integer }
                  limits: { $ref: "#/components/schemas/MediaLimits" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/AccountNotFound" }

  /api/settings/me:
    patch:
      tags: [Paramètres]
      summary: Modifier nom et prénom
      security: [{ session: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [firstname, lastname]
              properties:
                firstname: { type: string, minLength: 2, maxLength: 30 }
                lastname: { type: string, minLength: 2, maxLength: 30 }
      responses:
        "200":
          description: Identité mise à jour (valeurs normalisées)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  firstname: { type: string }
                  lastname: { type: string }
        "400": { description: "Nom invalide (INVALID_NAME)" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/settings/username:
    patch:
      tags: [Paramètres]
      summary: Changer de nom d'utilisateur
      security: [{ session: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username]
              properties:
                username: { type: string, minLength: 3, maxLength: 30 }
      responses:
        "200":
          description: Pseudonyme mis à jour et nouvelle URL publique
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  username: { type: string }
                  publicUrl: { type: string, format: uri }
        "400": { description: "USERNAME_INVALID ou USERNAME_RESERVED" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { description: "USERNAME_ALREADY_USED" }

  /api/settings/email:
    patch:
      tags: [Paramètres]
      summary: Changer d'adresse e-mail
      security: [{ session: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        "200":
          description: Adresse mise à jour
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  email: { type: string, format: email }
        "400": { description: "EMAIL_INVALID" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { description: "EMAIL_ALREADY_USED" }

  /api/settings/password:
    patch:
      tags: [Paramètres]
      summary: Changer de mot de passe
      description: >
        Vérifie le mot de passe courant, refuse un mot de passe identique, puis **révoque toutes les
        sessions du compte** en incrémentant `tokenVersion`. Une nouvelle session est aussitôt émise
        pour l'appareil courant.
      security: [{ session: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [currentPassword, newPassword]
              properties:
                currentPassword: { type: string, maxLength: 128 }
                newPassword:
                  type: string
                  minLength: 8
                  maxLength: 128
                  description: Au moins une majuscule, une minuscule, un chiffre et un caractère spécial
      responses:
        "200":
          description: Mot de passe modifié, session réémise
          headers:
            Set-Cookie: { schema: { type: string } }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  expires_in: { type: integer, example: 300 }
        "400": { description: "PASSWORD_UNCHANGED ou contrainte de complexité non satisfaite" }
        "401": { description: "INVALID_CREDENTIALS" }

  /api/settings/apikey:
    get:
      tags: [Paramètres]
      summary: Récupérer la clé d'API
      security: [{ session: [] }]
      responses:
        "200":
          description: Clé courante et date d'émission
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiKey" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Paramètres]
      summary: Régénérer la clé d'API
      description: L'ancienne clé cesse immédiatement d'être valide.
      security: [{ session: [] }]
      responses:
        "200":
          description: Nouvelle clé émise
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiKey" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    delete:
      tags: [Paramètres]
      summary: Révoquer la clé d'API
      security: [{ session: [] }]
      responses:
        "200":
          description: Clé révoquée
          content:
            application/json:
              schema:
                type: object
                properties: { success: { type: boolean } }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/settings/account:
    delete:
      tags: [Paramètres]
      summary: Supprimer le compte et tous les médias
      description: >
        Sert le **droit à l'effacement**. Après vérification du mot de passe, tous les objets du
        stockage sont supprimés, puis le compte est effacé en base. La suppression se propage en
        cascade aux médias, albums, placements et abonnements ; les références douces (avatar,
        couverture) sont remises à NULL.
      security: [{ session: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password: { type: string, maxLength: 128 }
      responses:
        "200":
          description: Compte et données supprimés, session révoquée
          content:
            application/json:
              schema:
                type: object
                properties: { success: { type: boolean } }
        "401": { description: "INVALID_CREDENTIALS" }
        "404": { $ref: "#/components/responses/AccountNotFound" }

  # ------------------------------------------------------------ API publique
  /api/public/stats:
    get:
      tags: [API publique]
      summary: Statistiques publiques de la plateforme
      security: []
      responses:
        "200":
          description: Volumétrie publique
          content:
            application/json:
              schema:
                type: object
                properties:
                  media: { type: integer }
                  authors: { type: integer }

  /api/public/search:
    get:
      tags: [API publique]
      summary: Rechercher des profils publics
      description: >
        Recherche sur le pseudonyme, le prénom et le nom. Les métacaractères SQL sont échappés.
        Le classement privilégie la correspondance exacte, puis le préfixe, puis le nombre de
        médias publiés.
      security: []
      parameters:
        - { name: q, in: query, schema: { type: string, maxLength: 30 }, description: "Terme recherché ; un « @ » initial est ignoré" }
        - { name: limit, in: query, schema: { type: integer, default: 6, maximum: 10, minimum: 1 } }
      responses:
        "200":
          description: Profils correspondants
          content:
            application/json:
              schema:
                type: object
                properties:
                  term: { type: string }
                  profiles:
                    type: array
                    items:
                      type: object
                      properties:
                        username: { type: string }
                        name: { type: string }
                        bio: { type: string, nullable: true }
                        avatar: { $ref: "#/components/schemas/MediaView" }
                        photos: { type: integer }

  /api/public/profiles:
    get:
      tags: [API publique]
      summary: Profils en vedette (avec aperçus)
      description: Classement par date de publication la plus récente ; jusqu'à trois aperçus par profil.
      security: []
      parameters:
        - { name: limit, in: query, schema: { type: integer, default: 6, maximum: 24, minimum: 1 } }
      responses:
        "200":
          description: Profils mis en avant
          content:
            application/json:
              schema:
                type: object
                properties:
                  profiles:
                    type: array
                    items: { $ref: "#/components/schemas/PublicProfile" }

  /api/public/feed:
    get:
      tags: [API publique]
      summary: Galerie publique (fil global)
      security: []
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 24, maximum: 120, minimum: 1 } }
      responses:
        "200":
          description: Page du fil public
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      allOf:
                        - $ref: "#/components/schemas/MediaView"
                        - type: object
                          properties:
                            publishedAt: { type: string, format: date-time, nullable: true }
                            author:
                              type: object
                              nullable: true
                              properties:
                                username: { type: string }
                                name: { type: string }
                  nextCursor: { type: string, nullable: true }
        "400": { description: "BAD_CURSOR" }

  /api/public/{username}:
    get:
      tags: [API publique]
      summary: Profil public d'un utilisateur
      description: Consommée par le site vitrine exporté statiquement (`/u/?u=pseudo`).
      security: []
      parameters:
        - { name: username, in: path, required: true, schema: { type: string, maxLength: 30 } }
      responses:
        "200":
          description: Profil public
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PublicProfile" }
        "404": { $ref: "#/components/responses/AccountNotFound" }

  /api/public/{username}/media:
    get:
      tags: [API publique]
      summary: Médias publiés d'un utilisateur
      security: []
      parameters:
        - { name: username, in: path, required: true, schema: { type: string, maxLength: 30 } }
        - { name: cursor, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 48, maximum: 120, minimum: 1 } }
      responses:
        "200":
          description: Page de médias publiés
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PublishedPage" }
        "400": { description: "BAD_CURSOR" }
        "404": { $ref: "#/components/responses/AccountNotFound" }

# ============================================================================
components:

  securitySchemes:
    session:
      type: apiKey
      in: cookie
      name: session
      description: >
        Cookie opaque `httpOnly`, de la forme `<sid>.<nonce>`. Aucune donnée exploitable côté client.
        Expiration glissante de 30 min, absolue de 8 h, fenêtre d'accès de 5 min.
    api-key:
      type: apiKey
      in: header
      name: x-api-key
      description: Clé personnelle, générée à l'inscription, rotative et révocable à tout instant.

  responses:
    Unauthorized:
      description: Session absente, expirée ou révoquée
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorCode" }
    ValidationError:
      description: Corps de requête invalide (validation en liste blanche)
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ValidationProblem" }
    TooManyRequests:
      description: Quota dépassé pour cette route
      headers:
        x-ratelimit-limit: { schema: { type: integer } }
        x-ratelimit-remaining: { schema: { type: integer } }
        x-ratelimit-reset: { schema: { type: integer } }
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorCode" }
    AccountNotFound:
      description: Compte inexistant
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorCode" }
          example: { code: ACCOUNT_NOT_FOUND }
    AlbumNotFound:
      description: Album inexistant ou n'appartenant pas au titulaire
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorCode" }
          example: { code: ALBUM_NOT_FOUND }

  schemas:

    ErrorCode:
      type: object
      description: Forme normalisée de toutes les erreurs métier
      properties:
        code:
          type: string
          example: INVALID_CREDENTIALS
        message:
          type: string
          description: Présent uniquement lorsqu'un message destiné à l'utilisateur est utile

    ValidationProblem:
      type: object
      properties:
        statusCode: { type: integer, example: 400 }
        error: { type: string, example: Bad Request }
        message:
          type: array
          items: { type: string }
          example: [PASSWORD_TOO_SHORT, EMAIL_INVALID]

    MediaView:
      type: object
      description: Vue publique d'un média. L'URL pointe le CDN et le contenu est immuable.
      nullable: true
      properties:
        id: { type: string, format: uuid }
        kind: { type: string, enum: [image, video] }
        width: { type: integer, nullable: true }
        height: { type: integer, nullable: true }
        durationMs: { type: integer, nullable: true }
        url: { type: string, format: uri, example: "https://cdn.dropicture.com/media/<ownerId>/<id>.jpg" }

    LibraryItem:
      allOf:
        - $ref: "#/components/schemas/MediaView"
        - type: object
          properties:
            bytes: { type: string, description: Taille en octets (entier long sérialisé en chaîne) }
            takenAt: { type: string, format: date-time }
            published: { type: boolean }

    PublishedPage:
      type: object
      properties:
        items:
          type: array
          items:
            allOf:
              - $ref: "#/components/schemas/MediaView"
              - type: object
                properties:
                  publishedAt: { type: string, format: date-time, nullable: true }
        nextCursor: { type: string, nullable: true }

    BulkIds:
      type: object
      required: [ids]
      properties:
        ids:
          type: array
          minItems: 1
          maxItems: 200
          items: { type: string, format: uuid }

    BulkResult:
      type: object
      description: Compte rendu élément par élément d'une opération de masse
      properties:
        done:
          type: array
          items: { type: string, format: uuid }
        failed:
          type: array
          items:
            type: object
            properties:
              id: { type: string, format: uuid }
              code:
                type: string
                enum: [MEDIA_NOT_FOUND, AVATAR_NOT_ALLOWED, AVATAR_ALWAYS_PUBLIC,
                       ALREADY_PUBLIC, ALREADY_PRIVATE, PUBLISH_FAILED, UNPUBLISH_FAILED, DELETE_FAILED]

    AlbumTitle:
      type: object
      required: [title]
      properties:
        title: { type: string, minLength: 1, maxLength: 60 }
        mediaIds:
          type: array
          maxItems: 200
          items: { type: string, format: uuid }

    Album:
      type: object
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        total: { type: integer, description: Nombre de médias placés }
        published: { type: integer, description: Dont médias publiés }
        cover: { $ref: "#/components/schemas/MediaView" }
        updatedAt: { type: string, format: date-time }

    MediaLimits:
      type: object
      description: Limites appliquées côté serveur, restituées pour que le client les applique aussi
      properties:
        image:
          type: object
          properties: { maxBytes: { type: integer, example: 8388608 } }
        video:
          type: object
          properties: { maxBytes: { type: integer, example: 104857600 } }
        avatar:
          type: object
          properties:
            maxBytes: { type: integer, example: 8388608 }
            accepted:
              type: array
              items: { type: string }
              example: [image/jpeg, image/png, image/webp]
        accepted:
          type: array
          items: { type: string }
          example: [image/jpeg, image/png, image/webp, image/avif, image/heic,
                    video/mp4, video/quicktime, video/webm]

    OwnProfile:
      type: object
      properties:
        username: { type: string }
        firstname: { type: string }
        lastname: { type: string }
        bio: { type: string, nullable: true }
        publicUrl: { type: string, format: uri, example: "https://dropicture.com/u/?u=amir" }
        avatar: { $ref: "#/components/schemas/MediaView" }
        counts:
          type: object
          properties:
            published: { type: integer }
            inLibrary: { type: integer }
        firstPublishedAt: { type: string, format: date-time, nullable: true }
        limits: { $ref: "#/components/schemas/MediaLimits" }

    PublicProfile:
      type: object
      properties:
        username: { type: string }
        name: { type: string }
        bio: { type: string, nullable: true }
        avatar: { $ref: "#/components/schemas/MediaView" }
        counts:
          type: object
          properties:
            photos: { type: integer }
            followers: { type: integer }
        firstPublishedAt: { type: string, format: date-time, nullable: true }
        lastPublishedAt: { type: string, format: date-time, nullable: true }
        preview:
          type: array
          description: Jusqu'à trois aperçus, renvoyés par /api/public/profiles uniquement
          items: { $ref: "#/components/schemas/MediaView" }

    FollowState:
      type: object
      properties:
        username: { type: string }
        following: { type: boolean }
        followers: { type: integer }

    ApiKey:
      type: object
      properties:
        apiKey: { type: string, nullable: true, description: 24 octets encodés en base64url }
        issuedAt: { type: string, format: date-time, nullable: true }

    SigninRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email, description: Normalisée en minuscules }
        password: { type: string, maxLength: 128 }

    SignupRequest:
      type: object
      required: [firstname, lastname, username, email, password]
      properties:
        firstname: { type: string, minLength: 2, maxLength: 30 }
        lastname: { type: string, minLength: 2, maxLength: 30 }
        username:
          type: string
          minLength: 3
          maxLength: 30
          description: Minuscules, chiffres, points et tirets bas ; ni point initial ou final, ni points consécutifs
        email: { type: string, format: email }
        password:
          type: string
          minLength: 8
          maxLength: 128
          description: Au moins une majuscule, une minuscule, un chiffre et un caractère spécial
